.vscode/**
.vscode-test/**
.claude/**
.github/**
.types/**
CLAUDE.md
out/**
node_modules/**
!dist/node_modules/**
package.json
pnpm-lock.yaml
src/**
.gitignore
.yarnrc
esbuild.mjs
vsc-extension-quickstart.md
.prettierrc
**/tsconfig.json
**/tsconfig.*.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.claude/settings.local.json
.mcp.json